a{
    display: inline-block;
    padding: 5px 10px;
    color: white !important;
    text-decoration: none !important;
}

.ms_salva{
    background-color: green;
    border-radius: 20px;
    border: 1px solid green;
}

.ms_modifica{
    background-color: orange;
    border-radius: 20px;
    border: 1px solid orange;
}

.ms_elimina{
    background-color: red;
    border-radius: 20px;
    border: 1px solid red;
}