<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../img/icona_circolare.ico" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReportTracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
    <header class="">
      <nav class="navbar navbar-expand-lg ms_nav_bar">
        <div class="container-fluid">
          <a class="navbar-brand ms_color_white ms_z-index " href="http://localhost:8080"><img class="logo_img" src="../img/report_Tracker.png" alt="Logo report tracker"></a>
          <a class="navbar-brand ms_color_white ms_position-a" href="http://localhost:8080"><img class="logo_img" src="../img/report_Tracker-2.png" alt="Logo report tracker"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mx-4" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item pe-2 ms_wall">
                <a class="nav-link ms_link active ms_color_white" aria-current="page" href="http://localhost:8080"><strong>Home</strong></a>
              </li>
              <li class="nav-item pe-2 ms_wall">
                <a class="ms_link nav-link active ms_color_white" aria-current="page" href="http://localhost:8080/statistiche"><Strong>Statistiche</Strong></a>
              </li>
              <li class="nav-item ms_wall">
                <a class="ms_link nav-link active ms_color_white" aria-current="page" href="http://localhost:8080/segnalazioni"><Strong>Segnalazioni</Strong></a>
              </li>
               <li class="nav-item col-4">
                <a class="ms_link nav-link active ms_color_white" aria-current="page" href="http://localhost:8080/Chi Siamo"><Strong>Chi Siamo</Strong></a>
              </li>
            </ul>
            <ul class="navbar-nav w-100 justify-content-end">
              <li class="nav-item me-2">
                <a class="ms_link nav-link active ms_color_white" aria-current="page" href="http://localhost:8080/accedi"><Strong>Accedi</Strong></a>
              </li>
              <li class="nav-item">
                <a class="ms_link nav-link active ms_color_white" aria-current="page" href="http://localhost:8080/registrazione"><strong>Registrati</strong></a>
              </li>
            </ul>
          </div>
        </div>
      </nav> 
    </header>

  <main>
            <div class="carousel-section">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../img/img1.png" class="d-block w-100 carousel-image" alt="Prima immagine">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/img2.png" class="d-block w-100 carousel-image" alt="Seconda immagine">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/img3.png" class="d-block w-100 carousel-image" alt="Terza immagine">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/img4.jpg" class="d-block w-100 carousel-image" alt="Quarta immagine">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/img5.jpg" class="d-block w-100 carousel-image" alt="Quinta immagine">
                    </div>
                </div>
                <div class="carousel-overlay">
                    <div class="carousel-text">Per una città più sicura e più informata</div>
                    <div class="spacer"></div> <!-- Aggiungi questo div per creare spazio -->
                    <a class="btn btn-primary mt-2" href="http://localhost:8080/accedi"><strong>Segnala!</strong></a>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!-- Nuovo contenuto -->
        <div class="container mt-5">
              <div class="info-container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 style="color: black; text-align: center;"><strong>Benvenuti su Report Tracker!</strong></h1>
                    <br>
                    <p>Siamo qui per aiutarti a segnalare e monitorare i micro crimini a Milano Centro e provincia. ReportTracker ti permette di inviare facilmente segnalazioni dettagliate sugli incidenti o altri problemi, consentendoti di contribuire attivamente alla sicurezza della tua comunità. Con un sistema intuitivo e filtri avanzati, puoi esplorare le segnalazioni per area specifica e non solo, ottenendo informazioni chiare sulle zone più colpite.</p> 
                    <p>Il nostro obiettivo è fornire una piattaforma efficace e accessibile per mantenerti aggiornato su cosa accade nella tua città e promuovere la collaborazione per un ambiente urbano più sicuro e consapevole. </p>
                    <p><strong>Unisciti a noi e insieme rendiamo Milano un posto migliore!</strong></p>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="../img/milano_logo.png" class="img-fluid rounded align-self-center" alt="Immagine rappresentativa">
                </div>
            </div>
        </div>
         </div>
        <div class="container mt-5">
            <h1 class="text-center"><strong>Ultime segnalazioni</strong></h1>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-4 mb-4">
                    <div class="card">
                        <img src="../img/img1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Crimine</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card">
                        <img src="../img/img2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Crimine</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card">
                        <img src="../img/img3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Crimine</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </main>
    
     <!-- Footer -->
    <footer class="footer">
        <div class="containerf">
            <p class="text-center">&copy; 2024 Report Tracker. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../js/myScript.js"></script>
</body>
</html>