<!DOCTYPE html>
<html>
<head>
    <title>Lista delle Tipologie di Crimini</title>
    <link rel="stylesheet" href="../css/tabella css/tabella.css">
</head>
<body>

    <h1>Inserisci i tuoi dati</h1>
    <form id="dataForm">
        <label for="nome">Tipologia crimine:</label><br>
        <input type="text" id="Tipologia crimine" name="nome" required><br><br>
        <button type="button" onclick="inviaDati()">Invia</button>
    </form>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('/tipologie_criminiAD/all')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    if (response.status === 204) {
                        return [];
                    }
                    return response.json();
                })
                .then(data => {
                    const tipologieList = document.getElementById('tipologieList');
                    if (data.length === 0) {
                        tipologieList.innerHTML = '<li>Nessuna tipologia di crimine trovata</li>';
                    } else {
                        data.forEach(tipologia_crimine => {
                            const li = document.createElement('li');
                            li.textContent = tipologia_crimine.nome;
                            tipologieList.appendChild(li);
                        });
                    }
                })
                .catch(error => console.error('Error fetching tipologie di crimini:', error));
        });
    </script>
</body>
</html>