.ms_immage{
    object-fit: contain;
    width: 100%;
}

.ms_box{
    border-radius: 20px;
    box-shadow: 5px  5px 5px #dedede,
    -5px -5px 5px #dedede,
     5px -5px 5px #dedede,
    -5px  5px 5px #dedede
}

.ms_radius{
    border-radius: 10px;
}

h3{
    margin: 0;
}